// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "osk-ui-variables";

osk-config-triggers, osk-minibar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
}

osk-config-triggers {
  border-bottom: 1px solid @active-border;
  border-top: 1px solid @active-border;
  border-left: 1px solid @inactive-border;
}

osk osk-minibar .icon {
  padding: 0.4rem .6rem;
}

osk-config {
  max-height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: scroll;
  transition: max-height 0.2s, padding 0.2s;
  border-top: 1px solid @active-border;
  border-left: 1px solid @active-border;
  border-bottom: 1px solid @active-border;
  padding: 1rem;
}

osk-config.closed, osk-minibar.closed {
  height: 0;
  transition: max-height 0.2s, padding 0.2s;
  // Otherwise a height of 10, maybe for scrollbar
  overflow: hidden;
  border: none;
  padding: 0;
}

osk .icon::before {
  margin: 0;
  width: 1rem;
  display: flex;
  justify-content: center;
}

osk .icon {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.osk-close:hover, .osk-close:active {
  background: @background-color-error;
  color: @text-color-selected;
  opacity: 0.7;
}

.osk-close, osk .icon-plus {
  display: flex;
  align-items: center;
}

.osk-close::before, osk .icon-plus::before {
    font-size: 1.3rem;
    height: 1em;
}

.osk-minimize:hover, .osk-minimize:active {
  background: @background-color-info;
  color: @text-color-selected;
  opacity: 0.7;
}

.osk-config-toggle:hover {
  color: @text-color-highlight;
  background: @background-color-highlight;
}

.osk-config-toggle:active {
  color: @text-color-selected;
  background: @background-color-selected;
}
