@import "ui-variables";
// TODO make these into full styles (1px solid @color)

// TODO make these top two into one thang
@inactive-border: lighten(@base-background-color, 3%);
@active-border: lighten(@base-background-color, 3%);
// @active-border: lighten(@base-background-color, 5%);
@key-border: lighten(@base-background-color, 10%);
@dark-background: darken(@tool-panel-background-color, 1.8%);
@dim-color: darken(@text-color-subtle, 30%);
