// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "osk-ui-variables";

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// ~~ STRUCTURE ~~
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
osk {
  display: flex;
  flex-direction: column;
}

osk-app {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: max-height 0.2s;
    max-height: 100em;
}

osk-app.minimized {
  max-height: 0;
  transition: max-height 0.2s;
}

// // Otherwise stuff is showing
// osk-app#oskApp.minimized *,
// osk-app#oskApp.minimized *::before {
//     height: 0;
//     padding: 0;
//     margin: 0;
//     border: 0;
//     font-size: 0;
// }

osk-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

osk-sidebar > * {
  flex-grow: 1;
}

osk-history-nav,
osk-language-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

osk-history-nav {
  flex-grow: 0;
}

// First tab matches up with topbar
osk-sidebar:first-child {
  flex-grow: 0;
}

osk-board-groups-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;  // Had `column`, check for bugs
  align-items: baseline;  // Needed for minimizing without showing contents
}

osk-board-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

osk-topbar {
  display: flex;
  flex-direction: row;
}

osk-category-tab,
osk-options-tab {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

osk-board-container,
osk-board,
osk-panel-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center; // for when it contains elements!
}

osk-history-nav .history-arrow,
osk-language-tab,
osk-category-tab,
osk-options-tab {
  padding: .5em .55em;
}

osk-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

osk-panel-row,
osk-panel-column {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
osk-panel-row {
  flex-direction: row;
}
osk-panel-column {
  flex-direction: column;
}

// NOTE this assumes row direction is always left to right
osk-panel-column.left-aligned {
  align-items: flex-start;
}
osk-panel-column.right-aligned {
  align-items: flex-end;
}

osk-panel-row.bottom-row {
  width: 100%; // Stuff can't grow otherwise
  .center {
    flex: 0;
  }
  .left, .right {
    flex: 1;
  }
}

button.osk-key {
  padding: 0.5em;
  margin: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 3em;
  min-height: 2.55em;
}

button.osk-key.blank {
  border: none;
  pointer-events: none;
}

button.osk-key.blank:hover {
  background: none;
  pointer-events: none;
}

osk .disabled,
osk .disabled:hover,
osk .disabled:active {
  // opacity: .4;
  color: @dim-color;
  background: @dark-background;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// ~~ SKIN ~~
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
osk {
  border-bottom: 1px solid @active-border;
}

osk, button.osk-key {
  background: @tool-panel-background-color;
}

osk-history-nav,
osk-language-tab,
osk-category-tab,
osk-options-tab,
osk-config-triggers {
  color: @text-color;
  background-color: @dark-background;
  // background-color: darken(@tool-panel-background-color, 1.8%);
}

osk-history-nav,
osk-language-tab,
osk-category-tab,
osk-options-tab {
  border: 1px solid @active-border;
}

.osk-active-tab,
osk-language-tab.osk-active-tab:hover,
osk-category-tab.osk-active-tab:hover {
  color: @text-color-highlight;
  background: @tool-panel-background-color;
  // border: 1px solid @active-border;
  pointer-events: none;
}

osk-category-tab,
osk-options-tab {
  border-left-color: @inactive-border;
  border-right: none;
  border-top: 1px solid @active-border;
  &:first-child {
    border-left: none;
  }
  &.osk-active-tab {
    border-bottom: none;
    &:first-child {
      border-left: none;
    }
  }
}

osk-history-nav,
osk-language-tab {
  border-bottom: none;
}

osk-language-tab {
  border-top-color: @inactive-border;
  &:nth-child(2) { // first child is history
    border-top-color: @active-border;
  }
  &.osk-active-tab {
    border-right: none;
    &:last-child {
      border-bottom: none;
    }
  }
}

// osk-history-arrow {
//   &:first-child {
//     border-right: none;
//   }
// }

button.osk-key {
  border: 1px solid @key-border;
  font-size: 1em;
  &.navigation {
    text-decoration: underline;
  }
}

.osk-tab:hover,
button.osk-key:hover {
  color: @text-color-highlight;
  background: @background-color-highlight;
  cursor: pointer;
}

// DEVVING INDICATORS
// TODO: Atom "Style Guide" page should be searchable
button.osk-key.empty {
  border: 1px solid @text-color-error;
}
button.osk-key.complete {
  border: 1px solid @text-color-success;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// ~~ FUNCTION ~~
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
osk.hidden, osk .hidden {
  display: "none";
}
